<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>轮播图管理</title>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{~/website/css/xadmin.css}" media="all">
<link rel="stylesheet" th:href="@{~/website/css/font.css}" media="all">
<style>
.layui-table-cell{
    height:34px;
    line-height: 34px;
}
</style>
</head>
<body>
 	<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:void(0)">轮播图管理</a>
        <a><cite>轮播图列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="refresh();" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:38px"></i></a>
    </div>
    <div class="x-body">

      <table class="layui-table" id="bannerlist" lay-filter="bannerlist">
      </table>
      <script type="text/html" id="toolbar">
      	<div class="layui-btn-container">
			<button class="layui-btn" lay-event="add"><i class="layui-icon"></i>添加</button>
      	</div>
	  </script>
      <script type="text/html" id="tableBar">
			<button type="button" class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i></button>
			<button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon">&#xe640;</i></button>
      </script>
    </div>
<script th:src="@{~/website/js/jquery.1.12.4.min.js}" charset="utf-8"></script>
<script th:src="@{~/website/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{~/website/js/xadmin.js}" charset="utf-8"></script>
<script th:src="@{~/website/js/jquery.ajax.js}" charset="utf-8"></script>
<!-- 
<div th:replace="website/commons/base"></div> -->
<script type="text/javascript" th:inline="javascript">
	layui.config({base : '/website/js/modules/banner/'}).use('banner_list');
</script>
</body>
</html>